@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.ebook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 35px 0;
    background-image: url('images/book-background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.page-layout {
    display: flex;
    width: 85%;
    max-width: 1400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.page {
    display: flex;
    flex: 1;
    cursor: pointer;
    aspect-ratio: 1 / 1.414;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.page img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    margin: 0;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.left-page {
    position: relative;
}

.left-page::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 10;
    pointer-events: none;
}

.right-page {
    position: relative;
}

.right-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 10;
    pointer-events: none;
}

.bookmark-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 50px 7px;
}

.bookmark {
    display: flex;
    background-color: #f8f1e5;
    color: white;
    width: 5.258vw;
    height: 3vw;
    font-family: 'NoonnuBasicGothicRegular';
    font-size: 0.82vw;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 3px 3px rgba(0,0,0,0.15);
    cursor: pointer;
    padding: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-orientation: upright;
    overflow: hidden;
    transition: all 0.3s;
}

.bookmark:hover, .bookmark.active {
    width: 6.249vw;
}

.bookmark:nth-child(1) { transform: translateX(0); background-color: #8182B8;}
.bookmark:nth-child(2) { transform: translateX(3px); background-color: #8083BF;}
.bookmark:nth-child(3) { transform: translateX(6px); background-color: #7E84C5;}
.bookmark:nth-child(4) { transform: translateX(9px); background-color: #7D85CC;}
.bookmark:nth-child(5) { transform: translateX(12px); background-color: #7C85D3;}
.bookmark:nth-child(6) { transform: translateX(15px); background-color: #7A86D9;}
.bookmark:nth-child(7) { transform: translateX(18px); background-color: #7987E0;}

#pageCounter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: auto;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#pageCounter input {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    padding: 3px;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s;
}

#pageCounter input:focus {
    border-color: white;
}

/* 첫 페이지 */
body.first-page .ebook-container {
    background-image: none !important;
}

body.first-page .page-layout {
    box-shadow: none;
    justify-content: center;
}

body.first-page .right-page {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 -5px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
}

body.first-page .right-page img {
    object-fit: contain;
}

body.first-page .right-page::before {
    display: none;
}

body.first-page .bookmark-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 50px 7px;
}

body.first-page .bookmark:nth-child(n) {
    transform: translateX(-7px);
}

/* 마지막 페이지 */
body.last-page .ebook-container {
    background-image: none !important;
}

body.last-page .page-layout {
    box-shadow: none;
    justify-content: center;
}

body.last-page .left-page {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 -5px 15px rgba(0, 0, 0, 0.1);
}

body.last-page .left-page img {
    object-fit: contain;
}

body.last-page .left-page::after {
    display: none;
}

body.last-page .bookmark-container {
    display: none;
}

@media (max-width: 768px) {
    body {
        background-color: #E8E8E8;
        justify-content: center;
    }

    .ebook-container {
        width: auto;
        background-image: none !important;
        margin: 0;
    }

    .page-layout {
        width: 100%;
    }

    .left-page {
        display: none !important;
    }

    .right-page {
        z-index: 10;
    }

    .bookmark-container {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1; !important;
    }

    .bookmark {
        width: 30px !important;
        height: 60px !important;
        font-size: 12px !important;
        line-height: 14px !important;
        margin: 3px 0;
        border-radius: 5px;
    }

    .bookmark:hover, .bookmark.active {
        width: 30px !important;
    }

    #pageCounter {
        bottom: 20px;
        font-size: 14px;
    }

    body.first-page .right-page {
        max-height: 55vh;
        margin: auto;
    }
}